<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= raw post.body %>
  </p>
  <p>
    <strong>Updated at:</strong>
    <%= time_tag post.updated_at,'data-format': '%l:%M%P, %e.%m.%Y ', 'data-local': 'time' %>
  </p>
</div>
